<main
  class="relative tablet:p-4 tablet:min-h-[600px] tablet:rounded-2xl shadow-ninja"
>
  <app-header />
  <div class="mobile:pt-[100px] tablet:ml-[274px] relative z-10">
    <div class="mx-auto tablet:max-w-[28.12rem]">
      @if (!submitted) {
        <app-stepper (submitted)="toggleMsg($event)" />
      } @else {
        <div
          class="tablet:flex items-center justify-center tablet:min-h-[568px]"
        >
          <section
            aria-label="Success message"
            class="text-center mobile:px-6 mobile:py-20 mx-4 rounded-[10px] mobile:shadow-ninja bg-white"
          >
            <img
              src="assets/images/icon-thank-you.svg"
              alt=""
              class="mx-auto size-14 tablet:size-20"
            />
            <h1 class="mt-6 tablet:mt-8 mb-2 tablet:mb-[14px]">Thank you!</h1>
            <p>
              Thanks for confirming your subscription! We hope you have fun
              using our platform. If you ever need support, please feel free to
              email us at support&#64;loremgaming.com.
            </p>
          </section>
        </div>
      }
    </div>
  </div>
</main>
